@import 'handsontable/dist/handsontable.full.css';

html,
body,
#root {
    height: 100%;
    /* overflow-x: hidden; */
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto';
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
