[submodule "store/neurostore/openapi"]
	path = store/neurostore/openapi
	url = https://github.com/neurostuff/neurostore-spec.git

[submodule "synth/neurosynth/openapi"]
	path = synth/neurosynth/openapi
	url = https://github.com/neurostuff/neurostore-spec
