{
    "extends": ["react-app", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "tabWidth": 4,
                "singleQuote": true,
                "printWidth": 100,
                "semi": true,
                "endOfLine": "auto"
            }
            
        ]
    },
    "overrides": [
        {
            "files": ["*.spec.tsx"],
            "rules": {
                "@typescript-eslint/no-unused-expressions": "off",
            }
        }
    ]
}
