{% from 'sqladmin_original/_macros.html' import render_field, render_form_fields %}

{% macro menu_category(menu, request) %}
{% if menu.is_visible(request) and menu.is_accessible(request) %}
{% set menu_id = "admin-menu-" ~ menu.name|lower|replace(" ", "-")|replace("_", "-") %}
<li class="nav-item">
  <a class="nav-link {% if menu.is_active(request) %}active{% endif %}" data-bs-toggle="collapse"
    href="#{{ menu_id }}" role="button" aria-expanded="true" aria-controls="{{ menu_id }}">
    <span class="nav-link-icon d-md-none d-lg-inline-block">
      {% if menu.icon %}<i class="{{ menu.icon }}"></i>{% endif %}
    </span>
    <span class="nav-link-title">{{ menu.display_name }}</span>
    <i class="ti ti-chevron-down ms-auto"></i>
  </a>
  <div class="collapse show" id="{{ menu_id }}">
    <ul class="navbar-nav flex-column ms-3 border-start">
      {% for sub_menu in menu.children %}
      {% if sub_menu.is_visible(request) and sub_menu.is_accessible(request) %}
      <li class="nav-item">
        <a class="nav-link ps-3 {% if sub_menu.is_active(request) %}active{% endif %}"
          href="{{ sub_menu.url(request) }}">
          <span class="nav-link-icon d-md-none d-lg-inline-block">
            <i class="ti ti-list"></i>
          </span>
          <span class="nav-link-title">{{ sub_menu.display_name }}</span>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</li>
{% endif %}
{% endmacro %}

{% macro menu_item(menu, request) %}
{% if menu.is_visible(request) and menu.is_accessible(request) %}
<li class="nav-item">
  <a class="nav-link {% if menu.is_active(request) %}active{% endif %}" href="{{ menu.url(request) }}">
    <span class="nav-link-icon d-md-none d-lg-inline-block">
      {% if menu.icon %}<i class="{{ menu.icon }}"></i>{% endif %}
    </span>
    <span class="nav-link-title">{{ menu.display_name }}</span>
  </a>
</li>
{% endif %}
{% endmacro %}

{% macro display_menu(menu, request) %}
<div class="navbar-nav">
  {% for item in menu.items %}
  {% if item.type_ == "View" %}
  {{ menu_item(item, request) }}
  {% elif item.type_ == "Category" %}
  {{ menu_category(item, request) }}
  {% endif %}
  {% endfor %}
</div>
{% endmacro %}
