wheel
aniso8601
connexion[swagger-ui]
email-validator
gunicorn
ipython
Flask-Cors
Flask-Dance
git+https://github.com/graphql-python/flask-graphql.git@0d45561#egg=flask_graphql
Flask-Security
Flask-Script
Flask-Migrate
pandas
psycopg2-binary
PyLD
schemathesis
sqlalchemy-utils
shortuuid
webargs
wrapt
