aniso8601>=8.1.0
auth0-python>=3.16.2
authlib>=0.15.4
connexion[swagger-ui]>=2.7.0
email-validator>=1.1.2
flake8>=3.8.4
flask>=2.0.0
flask-cors>=3.0.10
flask-dance>=3.2.0
flask-shell-ipython>=0.4.1
flask-migrate>=2.5.3,<3.0.0
flask-security>=3.0.0
gunicorn>=20.0.4
ipython>=7.19.0
pandas>=1.2.0
pip-chill>=1.0.1
psycopg2-binary>=2.8.6
pyld>=2.0.3
python-jose>=3.3.0
shortuuid>=1.0.1
sqlalchemy>=1.4
sqlalchemy-utils>=0.36.8
webargs>=7.0.1
wheel>=0.36.2
wrapt>=1.12.1
prance>=0.21.2
scipy
pytest
orjson
