
.string {
    color: orange !important;
}

.number {
    color: blue !important;
}

.boolean {
    color: green !important;
}

.none {
    color: gray !important;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.column-header {
    display: flex;
    word-break: break-all;
    align-items: center;
    white-space: normal;
    height: 100%;
    margin: 0 auto;
}

.study-details-row {
    background-color: #ccc !important;
    color: black !important;

    /* fixes styling issue where text disappears when first col header is selected */
    position: initial !important;
}

.study-details-row-content {
    display: flex;
    position: absolute !important;
    z-index: 9
}

.delete-icon {
    color: red;
    cursor: pointer;
    margin-left: 0.5rem;
}

.delete-icon:hover {
    color: darkred !important;
}

.study-details-text {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.authors {
    width: 10% !important;
}

.study-name {
    width: 65% !important;
}

.publication {
    width: 20% !important;
}