
.string {
    color: orange !important;
}

.number {
    color: blue !important;
}

.boolean {
    color: green !important;
}

.none {
    color: gray !important;
}

.column-header {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 4px;
}

.some-class-name {
    background-color: #ccc !important;
    color: black !important;
    border-left-color: #ccc !important;
    border-right-color: #ccc !important;
}

.delete-icon {
    color: red;
    cursor: pointer;
    margin-left: 0.5rem;
}