version: "2"
services:
  compose:
    image: compose
    restart: always
    build:
      dockerfile: ./Dockerfile
      context: ./backend
    depends_on:
      compose-pgsql17:
        condition: service_healthy
      compose_worker:
        condition: service_started
    expose:
      - "8000"
    volumes:
      - ./backend/migrations:/migrations
      - ./:/compose
      - ${FILE_DIR}:/file-data
    command: /usr/local/bin/gunicorn -k uvicorn.workers.UvicornWorker -w 2 -b :8000 neurosynth_compose.core:asgi_app --log-level debug --timeout 120
    env_file:
      - .env

  compose_redis:
    image: redis
    expose:
      - '6379'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 3s
      retries: 10

  compose_worker:
    image: compose_worker
    build:
      dockerfile: ./Dockerfile
      context: ./backend
    depends_on:
      compose_redis:
        condition: service_healthy
    entrypoint: celery -A neurosynth_compose.resources.tasks.celery_app worker --loglevel=debug
    volumes:
      - ${CELERY_LOG_DIR}:/logs:rw
      - ${FILE_DIR}:/file-data
    env_file:
      - .env

  compose_nginx:
    image: compose_nginx
    restart: always
    build: ./nginx
    expose:
      - "80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    volumes_from:
      - compose
    environment:
      - VIRTUAL_HOST=${V_HOST}
      - LETSENCRYPT_HOST=${V_HOST}

  compose_pgsql:
    image: compose_pgsql
    restart: always
    build:
      context: ./postgres
      dockerfile: ./Dockerfile.old
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - '5432'
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 10
    
  compose-pgsql17:
    image: compose_pgsql17
    restart: always
    build:
      context: ./postgres
      dockerfile: ./Dockerfile
    volumes:
      - postgres17_data:/var/lib/postgresql/data
    expose:
      - '5432'
    env_file:
      - .env
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 10

  compose-pghero:
    image: ankane/pghero
    restart: always
    expose:
      - "8080"
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgres://postgres:example@compose-pgsql17:5432/compose"
      RAILS_RELATIVE_URL_ROOT: "/pghero"
    depends_on:
      compose-pgsql17:
        condition: service_healthy

  compose-grafana:
    image: grafana/grafana
    restart: always
    expose:
      - "3030"
    env_file:
      - .env
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - GF_SERVER_ROOT_URL=/grafana
      - GF_SERVER_SERVE_FROM_SUB_PATH="true"
      - GF_SERVER_HTTP_PORT=3030
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
    depends_on:
      compose-pgsql17:
        condition: service_healthy
    networks:
      - default

  # compose_monitor:
  #   image: compose_monitor
  #   build:
  #     dockerfile: ./neurosynth_compose/Dockerfile
  #     context: ./
  #   ports:
  #    - "5555:5555"
  #   entrypoint: celery -A tasks flower --auth="jamesdkent21@gmail.com" --url-prefix=flower
  #   volumes:
  #     - ./neurosynth_compose:/neurosynth_compose
  #   depends_on:
  #     - compose_redis
  #     - compose
  #   env_file:
  #      - .env

volumes:
  postgres_data:
  postgres17_data:
  grafana_data:

networks:
  default:
    name: nginx-proxy
    external: true
