interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://neurovault.org/api/collections.json
  response:
    body:
      string: "{\"count\":11319,\"next\":\"http://neurovault.org/api/collections.json?limit=100&offset=100\",\"previous\":null,\"results\":[{\"id\":862,\"url\":\"http://neurovault.org/collections/862/\",\"download_url\":\"http://neurovault.org/collections/862/download\",\"owner\":574,\"contributors\":\"\",\"owner_name\":\"AkiNikolaidis\",\"number_of_images\":0,\"name\":\"AkiNikolaidis's
        temporary collection\",\"DOI\":null,\"authors\":null,\"paper_url\":null,\"journal_name\":null,\"description\":null,\"full_dataset_url\":null,\"private\":false,\"add_date\":\"2015-10-03T01:54:43.816421+02:00\",\"modify_date\":\"2015-10-03T01:54:43.816501+02:00\",\"doi_add_date\":null,\"type_of_design\":null,\"number_of_imaging_runs\":null,\"number_of_experimental_units\":null,\"length_of_runs\":null,\"length_of_blocks\":null,\"length_of_trials\":null,\"optimization\":null,\"optimization_method\":null,\"subject_age_mean\":null,\"subject_age_min\":null,\"subject_age_max\":null,\"handedness\":null,\"proportion_male_subjects\":null,\"inclusion_exclusion_criteria\":null,\"number_of_rejected_subjects\":null,\"group_comparison\":null,\"group_description\":null,\"scanner_make\":null,\"scanner_model\":null,\"field_strength\":null,\"pulse_sequence\":null,\"parallel_imaging\":null,\"field_of_view\":null,\"matrix_size\":null,\"slice_thickness\":null,\"skip_distance\":null,\"acquisition_orientation\":null,\"order_of_acquisition\":null,\"repetition_time\":null,\"echo_time\":null,\"flip_angle\":null,\"software_package\":null,\"software_version\":null,\"order_of_preprocessing_operations\":null,\"quality_control\":null,\"used_b0_unwarping\":null,\"b0_unwarping_software\":null,\"used_slice_timing_correction\":null,\"slice_timing_correction_software\":null,\"used_motion_correction\":null,\"motion_correction_software\":null,\"motion_correction_reference\":null,\"motion_correction_metric\":null,\"motion_correction_interpolation\":null,\"used_motion_susceptibiity_correction\":null,\"used_intersubject_registration\":null,\"intersubject_registration_software\":null,\"intersubject_transformation_type\":null,\"nonlinear_transform_type\":null,\"transform_similarity_metric\":null,\"interpolation_method\":null,\"object_image_type\":null,\"functional_coregistered_to_structural\":null,\"functional_coregistration_method\":null,\"coordinate_space\":null,\"target_template_image\":null,\"target_resolution\":null,\"used_smoothing\":null,\"smoothing_type\":null,\"smoothing_fwhm\":null,\"resampled_voxel_size\":null,\"intrasubject_model_type\":null,\"intrasubject_estimation_type\":null,\"intrasubject_modeling_software\":null,\"hemodynamic_response_function\":null,\"used_temporal_derivatives\":null,\"used_dispersion_derivatives\":null,\"used_motion_regressors\":null,\"used_reaction_time_regressor\":null,\"used_orthogonalization\":null,\"orthogonalization_description\":null,\"used_high_pass_filter\":null,\"high_pass_filter_method\":null,\"autocorrelation_model\":null,\"group_model_type\":null,\"group_estimation_type\":null,\"group_modeling_software\":null,\"group_inference_type\":null,\"group_model_multilevel\":null,\"group_repeated_measures\":null,\"group_repeated_measures_method\":null,\"nutbrain_hunger_state\":null,\"nutbrain_food_viewing_conditions\":null,\"nutbrain_food_choice_type\":null,\"nutbrain_taste_conditions\":null,\"nutbrain_odor_conditions\":null,\"communities\":[]},{\"id\":38,\"url\":\"http://neurovault.org/collections/38/\",\"download_url\":\"http://neurovault.org/collections/38/download\",\"owner\":64,\"contributors\":\"\",\"owner_name\":\"danielglen\",\"number_of_images\":0,\"name\":\"AFNI_data6\",\"DOI\":null,\"authors\":\"\",\"paper_url\":\"\",\"journal_name\":null,\"description\":\"Some
        class data used in AFNI bootcamp class\",\"full_dataset_url\":null,\"private\":false,\"add_date\":\"2014-06-04T04:15:05.515327+02:00\",\"modify_date\":\"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://neurovault.org/api/collections/1056/images/?format=json
  response:
    body:
      string: '{"count":20,"next":null,"previous":null,"results":[{"url":"http://neurovault.org/images/14225/","id":14225,"file":"http://neurovault.org/media/images/1056/Thalamus-maxprob-thr0-1mm.nii.gz","collection":"http://neurovault.org/collections/1056/","collection_id":1056,"file_size":19605,"cognitive_paradigm_cogatlas":null,"cognitive_paradigm_cogatlas_id":null,"cognitive_contrast_cogatlas":null,"cognitive_contrast_cogatlas_id":null,"map_type":"parcellation","analysis_level":null,"name":"Thalamus
        maxprob thr0 1mm","description":"FSL3.3","add_date":"2016-01-21T18:21:57.860138+01:00","modify_date":"2018-06-30T06:07:01.316444+02:00","is_valid":false,"surface_left_file":"http://neurovault.org/media/images/1056/14225.L.func.gii","surface_right_file":"http://neurovault.org/media/images/1056/14225.R.func.gii","data_origin":"volume","target_template_image":"GenericMNI","subject_species":"homo
        sapiens","figure":null,"handedness":null,"age":null,"gender":null,"race":null,"ethnicity":null,"BMI":null,"fat_percentage":null,"waist_hip_ratio":null,"mean_PDS_score":null,"tanner_stage":null,"days_since_menstruation":null,"hours_since_last_meal":null,"bis_bas_score":null,"spsrq_score":null,"bis11_score":null,"thumbnail":"http://neurovault.org/media/images/1056/glass_brain_14225_1.jpg","reduced_representation":null,"is_thresholded":true,"perc_bad_voxels":99.3518654951259,"not_mni":false,"brain_coverage":2.47195633810831,"perc_voxels_outside":2.90527763451951,"number_of_subjects":null,"modality":"","statistic_parameters":null,"smoothness_fwhm":null,"contrast_definition":null,"contrast_definition_cogatlas":null,"cognitive_paradigm_description_url":null,"image_type":"statistic_map"},{"url":"http://neurovault.org/images/14226/","id":14226,"file":"http://neurovault.org/media/images/1056/Thalamus-maxprob-thr0-2mm.nii.gz","collection":"http://neurovault.org/collections/1056/","collection_id":1056,"file_size":3384,"cognitive_paradigm_cogatlas":null,"cognitive_paradigm_cogatlas_id":null,"cognitive_contrast_cogatlas":null,"cognitive_contrast_cogatlas_id":null,"map_type":"parcellation","analysis_level":null,"name":"Thalamus
        maxprob thr0 2mm","description":"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://neurovault.org/api/collections.json?limit=100&offset=100
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx/1.23.3</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://neurovault.org/api/collections.json?limit=100&offset=100
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://neurovault.org/api/collections.json?limit=100&offset=100
  response:
    body:
      string: "{\"count\":11319,\"next\":\"http://neurovault.org/api/collections.json?limit=100&offset=200\",\"previous\":\"http://neurovault.org/api/collections.json?limit=100\",\"results\":[{\"id\":510,\"url\":\"http://neurovault.org/collections/510/\",\"download_url\":\"http://neurovault.org/collections/510/download\",\"owner\":333,\"contributo[...]
[...]
